blib/
_build/
.build/
Build
Build.bat
cover_db/
inc/
.last_cover_stats
.lwpcookies
Mail-Qmail-Filter-*
Mail-Qmail-Filter-*.tar.gz
Makefile
Makefile.old
MANIFEST.bak
META.*
MYMETA.*
nytprof.out
perltidy.LOG
pm_to_blib
pod2htm*.tmp
